.hero-section {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-btn {
  margin-top: 20px;
}

.text-left {
  text-align: left !important;
}

.lead {
  font-size: 1.1rem;
  max-width: 70%;
  /* margin-left: 20px; */
}

h1 {
  font-size: 3rem;
  /* max-width: 70%; */
  margin-left: 20px;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .hero-section {
    height: 50vh;
    position: relative;
    background-size: cover;
    background-position: center;
  }

  h1 {
    font-size: 2.5rem;
  }

  .lead {
    font-size: 1rem;
    max-width: 90%;
  }
}
